{{title}}

<br>

    <input type="text" ngModel placeholder="Enter Url" size="150px"  #url >
    <br>
    <br>
    <button  type="submit" (click)="getUrl(url)">Shorten URl</button>
    




<hr>

<div *ngFor="let link of UrlList;index as i">
   <a href="http://localhost:4300/{{link.ShortID}}">http://aldrin.ly/{{link.ShortID}}</a>
<!-- <p (click)="route(link.ShortID)"></p> -->
</div> 
<!-- <a  [routerLink]="['/'{{link.ShortID}}]">  -->
 
